# TEMPer1 USB thermometer
SUBSYSTEMS=="usb", ACTION=="add", 
ATTR{idVendor}=="0c45", ATTR{idProduct}=="7401",
OWNER="root", GROUP="temper", MODE="0660"